.t-shirt-container {
    min-height: 50vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-overlay-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-overlay-container img {
    width: 20vh;
    height: auto;
    display: block;
    min-height: 0;
    opacity: .8;}



#white, #black, #red, #green, #purple, #pink, #blue, #yellow, #grey {
background-repeat: no-repeat;
background-size: contain;
background-position: center;
z-index: 0;
position: relative;
}

#white {
    background-image: url('../assets/white-t-shirt.png');
}
#black {
    background-image: url('../assets/black-t-shirt.png');
    background-color: rgba(152, 152, 152, 0.322);
    border-radius: 10px;
}
#red {
    background-image: url('../assets/red-t-shirt.png');
}
#green {
    background-image: url('../assets/green-t-shirt.png');
}
#grey {
    background-image: url('../assets/grey-t-shirt.png');
}
#purple {
    background-image: url('../assets/purple-t-shirt.png');
}
#pink {
    background-image: url('../assets/pink-t-shirt.png');
}
#blue {
    background-image: url('../assets/blue-t-shirt.png');
}
#yellow {
    background-image: url('../assets/yellow-t-shirt.png');
}

