.t-shirt-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%; /* Ensure the container does not exceed its parent's width */
    height: auto; /* Allow the container height to adjust dynamically */
    object-fit: contain; /* Ensure t-shirt image fits within the container */
    pointer-events: none; /* Prevent overlay from affecting mouse events */
}

.image-overlay-container {
    position: absolute;
    width: contain;
    height: contain;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.image-overlay-container img {
    width: 20vh;
    height: auto;
    display: block;
    min-height: 0;
    object-fit: contain;
    pointer-events: none;
}



#White, #Black, #Red, #Green, #Purple, #Pink, #Blue, #Yellow, #Grey {
background-repeat: no-repeat;
background-size: contain;
background-position: center;
z-index: 0;
position: relative;
}

#White {
    background-image: url('../assets/white-t-shirt.png');
}
#Black {
    background-image: url('../assets/black-t-shirt.png');
    background-color: rgba(152, 152, 152, 0.322);
    border-radius: 10px;
}
#Red {
    background-image: url('../assets/red-t-shirt.png');
}
#Green {
    background-image: url('../assets/green-t-shirt.png');
}
#Grey {
    background-image: url('../assets/grey-t-shirt.png');
}
#Purple {
    background-image: url('../assets/purple-t-shirt.png');
}
#Pink {
    background-image: url('../assets/pink-t-shirt.png');
}
#Blue {
    background-image: url('../assets/blue-t-shirt.png');
}
#Yellow {
    background-image: url('../assets/yellow-t-shirt.png');
}
#editShirtForm {
    margin: 20px;
    padding: 10px;
    background-color: #f0f0f0;
}

