#signup-section {
    background-image: url('https://images.squarespace-cdn.com/content/v1/63f6daebd6676f7b4398743a/1693422841608-4S5XSRV16499O95SBW3C/Screen+Shot+2023-08-30+at+11.24.11+AM.png?format=500w');
    padding: 50px 0;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.9);
}

#signup-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(207, 196, 196, 0.8); 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#signup-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label {
    font-size: 1.2rem;
    color: #5f0404;
}

.input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
}

.button:hover {
    background-color: #bab3d2;
}

#username-field, #email-field, #password-field, #passwordConfirmation-field {
    margin-bottom: 20px;
}

#username-label, #email-label, #password-label, #passwordConfirmation-label {
    font-weight: bold;
}

#username-input, #email-input, #password-input, #passwordConfirmation-input {
    width: 100%;
    box-sizing: border-box;
}

#submit-button {
    align-self: center; 
    width: 30%; 
    background-color: #85a1ff; 
    color: #fff;
    margin-top: 20px; 
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit-button:hover {
    background-color: #5c7cfc; 
}
